/* Footer accordion*/

.accordion_button {
    background-color: #020c10;
    color: white;
    cursor: context-menu;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.3s;
  }
  
  .panel {
    padding: 0 18px;
    background-color: #020c10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 13px;
    color:white;
    border-bottom: 1px solid white;
    
  }
  
  .plus-icon {
    width: 9px;
    height: 1px;
    background-color: var(--color);
    background-repeat: no-repeat;
    position: relative;
    margin-right:0;
    margin-left: auto;
  }
  
  .plus-icon:after {
    width: 9px;
    height: 1px;
    background-repeat: no-repeat;
    transition: .3s;
    position: absolute;
    content: '';
    transform:rotate(90deg);
    background-color: var(--color);
    margin-right:0;
    margin-left: auto;
  }
  
  .accordion_button.open .plus-icon:after {  
    transform: rotate3d(0, 0, 0, 90deg);
  }

  /* Product features accordion */
  .product_features_accordion_button {
    background-color: white;
    color: #5f5f5f;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid lightgray;
    border-bottom: none;
}

.product_features_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height;
    font-size: 12px;
    color: #5f5f5f;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid #e1771f;
    border-right: 1px solid lightgray;

}

.product_features_plus_icon {
    width: 9px;
    height: 2px;
    background-color: #5f5f5f;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 0;
    margin-left: auto;
}

.product_features_plus_icon:after {
    width: 9px;
    height: 2px;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    transform: rotate(90deg);
    background-color: #5f5f5f;
    margin-right: 0;
    margin-left: auto;
}

.product_features_accordion_button.open .product_features_plus_icon:after {
    transform: rotate3d(0, 0, 0, 90deg);
}

.product_features_accordion_button.open {
    border-left: 1px solid #e1771f;
    border-bottom: none;
}

/* Product accordion*/

.product_accordion_button {
    background-color: white;
    color: #5f5f5f;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.3s;
    border: none;
}

.product_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height;
    font-size: 13px;
    color: #5f5f5f;
    border-bottom: 1px solid lightgray;
}

.product_accordion_button.open {
    border-bottom: none;
}

.bi-chevron-down {
    margin-right: 0;
    margin-left: auto;
    transition: all 0.3s;
}

.product_accordion_button.open .bi-chevron-down {
    transform: rotateZ(180deg);
}

/* Shipping accordion */

.shipping-accordion-panel>div:not(:last-of-type){
    border-bottom:1px solid lightgray;
  }