@primarycolor: #e1771f;
@headerfootercolor: #020c10;
@gray: #5f5f5f;
@buttonhovercolor: #b55f18;

body {
  font-family: "Karla", sans-serif;
  background-color: lightgray !important;
}

* {
  margin: 0;
  padding: 0;
}

.sidenav {
  width: 0;
  height: 100%;
  position: fixed;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1040;
  border-top: 1px solid @primarycolor;

  a {
    padding-left: 32px;
    text-decoration: none;
    font-size: 16px;
    color: @gray;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    display: flex;
    align-items: center;

    @media screen and (max-height: 450px) {
      font-size: 18px;
    }
  }

  div {
    border-bottom: 1px solid lightgray;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.navigation-bar {
  width: 100%;
  height: 90px;
  background-color: @headerfootercolor;
  padding-top: 45px;
  padding-left: 25px;

  a {
    text-decoration: none;
    font-size: 14px;
    color: @gray;
    margin-right: 45px;

    &:hover {
        color: white;
      }
  }

  @media screen and (max-width: 991px) {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .banner {
    height: 65px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 991px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    height: 100px;
    width: 100%;
    background-color: @headerfootercolor;
    display: flex;
    justify-content: space-between;
  }

  .toggle {
    padding-left: 25px;
  }

  .toggle-container {
    height: 100px;
    line-height: 100px;
  }

  .logo img {
    height: 100px;
  }

  .main-container {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .product-tab-list {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
  }

  .promo-code-container {
    width: 100%;
  }

  .checkout-main-container {
    width: 100%;
  }

  .total-and-tax-container {
    width: 100%;
  }

  .cart-details-title {
    border-bottom: 1px solid lightgray;
  }

  .proceed-to-checkout-btn {
    width: 220px;
  }
}

@media screen and (min-width: 992px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    height: 100px;
    width: 100%;
    background-color: @headerfootercolor;
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    height: 100px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .main-container {
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 24px;
  }

  .product-accordion {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
  }

  .promo-code-container {
    width: 220px;
    margin-bottom: 8px;
  }

  .checkout-main-container {
    width: 75%;
  }

  .total-and-tax-container {
    width: 25%;
    position: sticky;
    top: 0;
    display: inline-block;
    margin-top: 8px;
  }

  .checkout-top-container {
    display: flex;
  }

  .cart-details-container {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
  }

  .cart-details-title {
    margin-left: 12px;
    margin-right: 12px;
  }

  .proceed-to-checkout-btn {
    width: 100%;
  }

  .md-product-container {
    height: 0;
    overflow: hidden;
  }
}

.carousel-indicators {
  bottom: -50px !important;
}

.carousel-btn {
  background-color: @primarycolor;
  color: white;
  border-radius: 0%;
  font-size: 14px;
  border: 0;
  padding: 8px;

  &:hover {
    background-color: @buttonhovercolor;
    color: white;
  }
}

.main-carousel-image {
  height: 504px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front-page-image-1 {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.front-page-image-1-container {
  margin-left: 14px;
  margin-right: 14px;
}

.front-page-image-2-container {
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;

  a {
    color: @primarycolor;
    text-decoration: none;

    &:hover {
        text-decoration-line: underline;
        text-decoration-color: @primarycolor;
      }
  }
}

.front-page-image-1-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 30px;
  padding-left: 100px;
}

footer a {
  font-size: 12px;
  color: white;
  text-decoration: none;

  &:hover {
    font-size: 12px;
    color: white;
    text-decoration: underline;
  }
}

.navigation-links a:hover {
  text-decoration-line: underline;
}

.order-btn {
  background-color: @primarycolor;
  color: white;
  border-radius: 0%;
  font-size: 14px;
  opacity: 0.5;
  transition: 0.5s ease-in;
  padding: 8;

  &:hover {
    background-color: @buttonhovercolor;
    color: white;
  }
  
  &:focus {
    box-shadow: none;
  }
}

.quantity-change-btn {
  min-width: 40px;
  height: 40px;
  border: 1px solid @primarycolor;
  color: @primarycolor;
  cursor: pointer;
  line-height: 40px;
  background-color: white;
  font-size: 20px;
}

.quantity-input {
  width: 40px !important;
  height: 40px !important;
  border: 1px solid lightgray !important;
  border-radius: 0 !important;

  &:focus {
    box-shadow: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.add-cart-confirmed div a:hover {
  text-decoration: underline;
}

.order-btn-spinner-border {
  display: inline-block;
  width: 40px;
  height: 40px;

  &:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 6px solid white;
    border-color: white transparent white transparent;
    animation: order-btn-spinner-border 1.2s linear infinite;
  }
}

@keyframes order-btn-spinner-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shopping-cart-summary {
  margin-right: 25px;
}

.shopping-cart {
  margin-top: 50px;

  img {
    height: 20px;
    filter: invert(100%);
  }
}

.shopping-cart-items-count {
  background-color: @primarycolor;
  border-radius: 6px;
  top: -15px;
  left: 18px;
  color: white;
  width: 15px;
  height: 20px;
  font-size: 12px;
  padding-top: 2px;
  position: absolute;
}

.shopping-cart-total {
  font-size: 12px;
  color: white;

  &:hover {
    font-size: 12px;
    text-decoration: underline;
  }
  
}

.cart-contents-heading,
.cart-contents-item {
  display: inline;
  font-weight: bold;
}

.checkout-page-btn {
  background-color: @primarycolor;
  color: white;
  border-radius: 0%;
  font-size: 14px;
  padding: 8px;

  &:hover {
    background-color: @buttonhovercolor;
    color: white;
  }
  
  &:focus {
    box-shadow: none;
  }
  
}

.total-and-tax-table td {
  font-size: 12px;
  color: @gray;
}

.total-and-tax-table tr td:nth-of-type(2) {
  text-align: right;
}

.shipping-form {
  font-size: 12px;

  input {
    border-radius: 0;
    margin-bottom: 16px;

    &:focus {
        box-shadow: none;
        border: 1px solid lightgray;
      }
  }

  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

textarea:focus {
  box-shadow: none !important;
  outline: 0px !important;
  -webkit-appearance: none;
  border: 1px solid lightgray !important;
}

.shipping-form div {
  color: @primarycolor;
}

/* Footer accordion*/

.accordion_button {
  background-color: @headerfootercolor;
  color: white;
  cursor: context-menu;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.3s;
}

.panel {
  padding: 0 18px;
  background-color: @headerfootercolor;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-size: 13px;
  color: white;
  border-bottom: 1px solid white;
}

.plus-icon {
  width: 9px;
  height: 1px;
  background-color: var(--color);
  background-repeat: no-repeat;
  position: relative;
  margin-right: 0;
  margin-left: auto;

  &:after {
    width: 9px;
    height: 1px;
    background-repeat: no-repeat;
    transition: 0.3s;
    position: absolute;
    content: "";
    transform: rotate(90deg);
    background-color: var(--color);
    margin-right: 0;
    margin-left: auto;
  }
}

.accordion_button.open .plus-icon:after{
    transform: rotate3d(0, 0, 0, 90deg)
  }

.white-plus-icon {
  --color: white;
}

.gray-plus-icon {
  --color: #5f5f5f;
}

/* Product features accordion */

.product_features_accordion_button {
  background-color: white;
  color: @gray;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid lightgray;
  border-bottom: none;
}

.product_features_panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height;
  font-size: 12px;
  color: @gray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid @primarycolor;
  border-right: 1px solid lightgray;
}

.product_features_plus_icon {
  width: 9px;
  height: 2px;
  background-color: @gray;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 0;
  margin-left: auto;

  &:after {
    width: 9px;
    height: 2px;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    transform: rotate(90deg);
    background-color: @gray;
    margin-right: 0;
    margin-left: auto;
  }
}

.product_features_accordion_button.open {
  border-left: 1px solid @primarycolor;
  border-bottom: none;

  .product_features_plus_icon:after {
    transform: rotate3D(0,0,0,90deg);
  }
}

/* Product accordion*/

.product_accordion_button {
  background-color: white;
  color: @gray;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.3s;
  border: none;
}

.product_panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height;
  font-size: 13px;
  color: @gray;
  border-bottom: 1px solid lightgray;
}

.product_accordion_button.open {
  border-bottom: none;

  .bi-chevron-down {
    transform: rotateZ(180deg);
  }
}

.bi-chevron-down {
  margin-right: 0;
  margin-left: auto;
  transition: all 0.3s;
}

/* Shipping accordion */

.shipping-accordion-panel > div:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

/* Product carousel */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.disabled {
  cursor: pointer;

  &:active {
    pointer-events: none;
  }
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23353131' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23353131' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev {
  margin-left: 30px !important;
  top: 50% !important;
  bottom: 50% !important;
  width: 50px !important;
}

.carousel-control-next {
  margin-right: 30px !important;
  top: 50% !important;
  bottom: 50% !important;
  width: 50px !important;
}

.card-btn {
  border: 2px solid @primarycolor;
  background-color: white;
  color: @primarycolor;
  padding: 7px 28px;
  font-size: 16px;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: @primarycolor;
    color: white;
    padding: 7px 28px;
    font-size: 16px;
  }
}

.btn-box,
.card-title,
.price-box {
  flex: auto;
}

.card-body a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: @gray;
  }
}

.price-box:hover {
  cursor: context-menu;
}

.card {
  height: 350px;
  border-radius: 0% !important;
  margin-left: 2px;
  margin-right: 2px;
}

/* Tab list */

.tab-long-description {
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to right,
      @primarycolor 85.23px,
      lightgray 85.24px
    )
    1;
}

.tab-contents {
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to right,
      lightgray 125.24px,
      @primarycolor 125.25px,
      @primarycolor 172px,
      lightgray 172.01px
    )
    1;
}

.tab-more-information {
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to right,
      lightgray 212.01px,
      @primarycolor 212.02px,
      @primarycolor 277.55px,
      lightgray 277.56px
    )
    1;
}

.tab-usage-rate {
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to right,
      lightgray 317.56px,
      @primarycolor 317.57px,
      @primarycolor 408.02px,
      lightgray 408.03px
    )
    1;
}
.tab-features {
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to right,
      lightgray 448.03px,
      @primarycolor 448.03px,
      @primarycolor 540.59px,
      lightgray 540.6px
    )
    1;
}

td {
  width: 50%;
  height: 48px;
}

.tab:not(#tab-more-information):not(#accordion-more-information)
  tr:nth-of-type(odd) {
  background-color: lightgray;
}

.tab:not(#tab-more-information):not(#accordion-more-information)
  tr:nth-of-type(even) {
  background-color: #faf8f6;
}
